@import "../../index.scss";

.style {
  &-text {
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
  }

  &-button {
    padding: 0.5rem 2rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    background: #ff4820;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.gpt3 {
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;

    @include devices(tablet) {
      padding: 2rem 4rem;
    }

    @include devices(mobile) {
      padding: 2rem;
    }

    &-links {
      flex: 1;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      &_logo {
        margin-right: 2rem;

        img {
          width: 62.56px;
          height: 16.02px;
        }
      }

      &_container {
        display: flex;

        p {
          @extend .style-text;
        }

        @include devices(computer) {
          display: none;
        }
      }
    }

    &-sign {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include devices(mobile) {
        display: none;
      }

      p {
        @extend .style-text;
      }

      button {
        @extend .style-button;
      }
    }

    &-menu {
      margin-left: 1rem;

      display: none;
      position: relative;

      @include devices(computer) {
        display: flex;
      }

      svg {
        cursor: pointer;
      }

      &_container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        text-align: end;
        background: var(--color-footer);
        padding: 2rem;
        position: absolute;
        top: 40px;
        right: 0;
        margin-top: 1rem;
        min-width: 210px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        @include devices(mobile) {
          top: 20px;
        }

        p {
          @extend .style-text;
          margin: 1rem 0;
        }

        &-links {
          &-sign {
            display: none;

            button {
              @extend .style-button;
            }

            @include devices(mobile) {
              display: block;
            }
          }
        }
      }
    }
  }
}
